html {
    scroll-behavior: smooth;
    overflow-x:  hidden; 
}

body {
    display: block; 
    margin: 0;
    padding: 0;
    color: #444;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}
/* Для HEADER */
.container-header{
    display: flex; 
	  justify-content: flex-end;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    background-image: url('../img/apple.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #282828;
    width: 100vw;
    height: 15vh;   
    
}

.navig {
    display: inline-block;
    color: #fff
}

/* Для DIV Iphone*/

.back-iphone {
  width: 100vw;
  height: 85vh;
  background-image: url('../img/iphone.png');
  background-position: 0% 35%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-blend-mode: multiply	;     
}

.basket {
  outline: none;
  border: 2px solid #282828;
  padding: 20px 40px;
  margin: 35px 50px;
  background-color: #fff;
  color: #171717;
  border-radius: 30px;   
  cursor: pointer;
  font-size: 30px;
  background-image: url('../img/basket-black.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.basket:hover {
  background-image: url('../img/basket-white.png');
  color: #fff;
  background-color: #282828;
  border-color: #fff;
}

.buy-now {
  outline: none;
  border: 2px solid #282828;
  padding: 15px 40px;
  margin: 35vh 100px;
  background-color: #fff;
  color: #171717;
  border-radius: 30px;   
  cursor: pointer;
  font-size: 30px;
  }

.buy-now:hover {
    color: #fff;
    background-color: #171717;
    border-color: #fff;
}

/* Для DIV main */

.back-main {
    width: 100vw;
    height: 100vh;
    background-color: #171717;
}


/* Для MAIN карусели  */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
*, *:before, *:after {
  box-sizing: border-box;
}

.slider {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}



.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    left: -300%;
}
.slider__nav:checked:nth-of-type(5) ~ .slider__inner {
  left: -400%;
}

.buy-gadget {
  outline: none;
  border: 2px solid #282828;
  padding: 5px 20px;
  margin: 3rem 0px;
  background-color: #fff;
  color: #171717;
  border-radius: 30px;   
  cursor: pointer;
  font-size: 30px;
}

.buy-gadget:hover {
  border: 2px solid #fff;
  background-color: #171717;
  color: #fff;

}

.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 500%; /* Увеличивать при увеличении слайдеров*/
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 1.0s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.back-iphone-shop {
  background-image: url('');
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.slider__image {
  font-size: 2.7rem;
      color: #2196F3;
}
.slider__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-transform: uppercase; 
  color: #fff

}
.slider__txt {
  color: #999;
  margin-bottom: -20px;
  max-width: 500px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}